/* Navbar */
.navbar{
    transition:.3s;
    z-index:999;
}

.navbar-brand{
    color:#111;
}

.navbar-brand:hover{
    color:#0d6efd;
}

.nav-link{
    color:#555;
    transition:.3s;
    position:relative;
}

.nav-link:hover,
.nav-link.active{
    color:#0d6efd;
}

.nav-link::after{
    content:'';
    position:absolute;
    left:12px;
    bottom:4px;
    width:0;
    height:2px;
    background:#0d6efd;
    transition:.3s;
}

.nav-link:hover::after,
.nav-link.active::after{
    width:60%;
}

.btn{
    font-weight:600;
}

@media(max-width:991px){

.navbar-nav{
    padding:20px 0;
}

.nav-link{
    padding:12px 0;
}

}