body{

    font-family:'Inter',sans-serif;

    color:var(--text);

    background:var(--bg);

}

h1,h2,h3,h4,h5,h6{

    color:var(--heading);

    font-weight:700;

}

a{

    text-decoration:none;

}